.loginwrap {
    width: 400px;
    padding: 15px;
    margin: 220px auto 0;

    .bg {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        background: no-repeat center top;
        background-size: cover;
    }
    .logo {
        padding: 0 10px;
        text-align: center;
        margin: 0 auto 15px;

        img {
            top: 5px;
            width: 100px;
            position: relative;
        }
    }
    .visitor {
        top: 10px;
        color: #666;
        position: relative;
        font-size: .2rem;
    }
}